@import "../../../style/Colors";
.button {
  display: inline-flex;
  font-weight: 600;
  font-size: 16px;
  line-height: 1;
  letter-spacing: .01em;
  min-height: 40px;
  justify-content: center;
  align-items: center;
  padding: 5px 15px;
  color: $color-8;
  border-radius: 5px;
  text-transform: uppercase;
  border: 1px solid $color-8;
}
.buttonRed {

  display: inline-flex;
  font-weight: 600;
  font-size: 16px;
  line-height: 1;
  letter-spacing: .01em;
  min-height: 40px;
  justify-content: center;
  align-items: center;
  padding: 5px 15px;
  border-radius: 5px;
  border: 1px solid $color-7;
  color: $color-7;
  text-transform: uppercase;
}