@import "../style/Colors";

.modal{
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: rgba(0,0,0,0.7);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  pointer-events: none;
  opacity: 0;
  z-index: 100;
  transition: all 0.3s ease-in-out 0s;
  &__content{
    min-width: 500px;
    transform: scale(0);
    transition: all 0.3s ease-in-out 0s;
    @media (max-width:450px){
      min-width: auto;
      width: 100%;
    }
  }
  &.active{
    pointer-events: auto;
    opacity: 1;
  .modal__content{
    transform: scale(1);
  }
  }


}