@import "../style/Colors.scss";

.post {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  gap: 15px;
  padding: 15px;
  border-radius: 10px;
  background-color: $color-2;
  border: 1px solid $color-4;

  &:not(:last-child) {
    margin-bottom: 20px;
  }

  &__content {
    display: grid;
    gap: 15px;
  }

  &__title {
    font-size: 18px;
    font-weight: 500;
    line-height: 1.3;
  }

  &__description {
    line-height: 1.4;
  }

  &__buttons {
    display: flex;
    align-items: center;
    gap: 15px;
  }
}